h1 {
    text-align: center;
}

.account {
    margin-top: 2rem;
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.create-acc {
    max-width: 40%;
}

.log-in {
    max-width: 40%;
}

@media all and (max-width:1100px) {
    .account {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .create-acc {
        max-width: 80%;
    }

    .log-in {
        max-width: 80%;
    }
}