body {
    margin: 0;
    padding: 0;
    background-color: #212124;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}

.btn {
    width: 100%;
    background-color: #000000;
    border: 2px solid rgb(255, 234, 0, 0.8);
    border-radius: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    margin-top: 1rem;
    white-space: normal;
}