body {
    margin: 0;
    padding: 0;
    background-color: #212124;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}