.container {
    background-color: rgba(40,40,40,255);
    border-radius: 1rem;
    max-width: fit-content;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    animation: appear 0.5s;
}

.band-info {
    margin-top: 2rem;
}

.default-settings {
    display: none;
    flex-direction: column;
    margin: auto;
    animation: appear 0.5s;
}

.infos {
    display: flex;
    gap: 1rem;
}

.band-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.change-settings {
    display: none;
    flex-direction: column;
    gap: 2rem;
    animation: appear 0.5s;
}

    .change-settings .band-infos {
        gap: 1rem;
    }

#band_description {  
    width: 50%;
    word-wrap: break-word;
}

.join-make-band {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.band-code {
    background-color: rgb(10, 10, 10);
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    width: 10%;
    transform: scale(1.3);
    position: absolute;
    top: 40%;
    left: 43.5%;
    display: none;
    animation: appear 0.5s;
    align-items: center;
}

.band-code input {
    max-width: 80%;
    text-align: center;
}

.invalid_code {
    color: var(--color);
    display: block;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.rehersal-info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}

.col-names {
    border-bottom: 1px solid grey;
    gap: 9rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.new-rehersal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new-rehersal div {
    display: flex;
    gap: 1rem;
}

input[type=date], input[type=time] {
    background-color: transparent;
    color: white;
    border: 1px solid grey;
}

    input[type=date]:hover, input[type=time]:hover {
        cursor: pointer;
    }

    input[type=date]:focus, input[type=time]:focus {
        border: 1px solid var(--color);
    }

.delete-rehersal {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: 2rem auto;
    background-color: rgb(10, 10, 10, 0.5);
    border-radius: 1rem;
    padding: 2rem;
}

.delete-rehersal div {
    display: flex;
    justify-content: center;
}

.delete-rehersal div input {
    max-width: 40%;
    font-size: 1rem;
}

.del-info {
    margin-top: 1rem;
    color: var(--color);
    font-size: 1.25rem;
}

.files {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.upload-files div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.opened-file {
    background-color: rgb(10, 10, 10);
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    width: 20%;
    transform: scale(1.2);
    position: absolute;
    top: 20%;
    left: 38.25%;
    display: none;
    animation: appear 0.5s;
}

@media all and (max-width:1000px) {
    .band-code {
        width: 30%;
        top: 30%;
        left: 31.5%;
    }

    .opened-file {
        width: 30%;
        top: 20%;
        left: 32%;
    }
}

@media all and (max-width: 700px) {
    .opened-file {
        width: 50%;
        top: 20%;
        left: 21%;
    }
}

@media all and (max-width:500px) {
    .band-code {
        width: 30%;
        top: 30%;
        left: 26%;
    }

    .opened-file {
        width: 60%;
        top: 20%;
        left: 14%;
    }
}

@media all and (max-width:850px) {
    .rehersal-info {
        gap: 2rem;
    }

    .col-names {
        gap: 2rem;
    }
}