.default-settings {
    display: none;
    flex-direction: column;
    gap: 2rem;
    animation: appear 0.5s;
}

.band-info-parts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.change-settings {
    display: none;
    flex-direction: column;
    gap: 2rem;
    animation: appear 0.5s;
}

.join-make-band {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.band-code {
    background-color: rgb(10, 10, 10);
    border-radius: 1rem;
    border: 2px solid var(--color);
    padding: 2rem;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    width: 10%;
    transform: scale(1.5);
    position: absolute;
    top: 40%;
    left: 43.5%;
    display: none;
    animation: appear 0.5s;
}

.invalid_code {
    color: var(--color);
    display: block;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.rehersal-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 2rem 1rem;
    border: 1px solid grey;
}

.new-rehersal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new-rehersal div {
    display: flex;
    gap: 1rem;
}

input[type=date], input[type=time] {
    background-color: transparent;
    color: white;
    border: 1px solid grey;
}

    input[type=date]:hover, input[type=time]:hover {
        cursor: pointer;
    }

    input[type=date]:focus, input[type=time]:focus {
        border: 1px solid var(--color);
    }

@media all and (max-width:1000px) {
    .band-code {
        width: 30%;
        top: 30%;
        left: 31.5%;
    }
}

@media all and (max-width:500px) {
    .band-code {
        width: 30%;
        top: 30%;
        left: 26%;
    }
}